body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lightTheme{
  background-color:aliceblue;
  color:black;  
}

.darkTheme{
  background-color:black;
  color:aliceblue;
}

/* styles-light.css */
.app.light {
  background-color: white;
  color: black;
}

/* styles-dark.css */
.app.dark {
  background-color: black;
  color: white;
}



.toggleBtn{
  position: relative;
  background-color: rgb(34, 108, 204);
  color:white;
  padding: 10px;
  border-radius: 5%;
  margin:10px;
  left: 40%;
  border: white;
}

.app p{
  text-align: justify;
  padding: 10px;
}